@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.spt_body {
  padding: 10px;
  margin-top: 120px;
  border-radius: 10px;
  font-family: "Pretendard";
  background-color: #ffffff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.spt_body .spt_title {
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 1.5px solid #000;
}
.spt_body .spt_sub {
  display: flex;
  padding: 15px 0 0 5px;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}
.spt_body .spt_sub div {
  display: flex;
}
.spt_body .spt_sub div:first-child {
  align-items: center;
}
.spt_body .spt_sub div:first-child svg {
  width: 25px !important;
  height: 25px !important;
}
.spt_body .spt_sub div:last-child {
  color: #fff;
  width: 50%;
  padding: 10px 20px;
  background-color: #1E3E49;
}
.spt_body .spt_th {
  height: 40px;
  font-size: 14px;
  display: grid;
  border-bottom: 1px solid #000;
  grid-auto-flow: dense;
}
.spt_body .spt_th .col_single {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #cacaca;
}
.spt_body .spt_th .col_single:last-child {
  border-right: 0;
}
.spt_body .spt_th .hasGruop {
  grid-column: span 3;
  flex-direction: column;
}
.spt_body .spt_th .hasGruop .th_gh {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;
}
.spt_body .spt_th .hasGruop .sub_wrap {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.spt_body .spt_th .hasGruop .sub_wrap .th_subs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #cacaca;
}
.spt_body .spt_th .hasGruop .sub_wrap .th_subs:last-child {
  border-right: 0;
}
.spt_body .selected {
  background-color: #1d9be2;
}
.spt_body .spt_row {
  display: grid;
  transition: 300ms all ease-in-out;
}
.spt_body .spt_row select,
.spt_body .spt_row input {
  outline: none;
  padding: 4px;
  margin: 0;
  height: 25px;
  font-family: "Pretendard";
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px solid #cacaca;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
.spt_body .spt_row span {
  padding: 4px;
  margin: 0;
  height: 25px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px solid #cacaca;
  text-align: left;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
  text-align: center;
  font-weight: unset;
  background-color: rgba(255, 255, 255, 0.8);
  word-break: keep-all;
}
.spt_body .spt_row span:focus {
  outline: none;
}
.spt_body .spt_row .highlight {
  border: 2px solid #1d9be2;
}
.spt_body .right_clicked {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-out forwards;
}
.spt_body .right_clicked:hover svg {
  scale: 1.1;
}
.spt_body .right_clicked svg {
  transition: 300ms all ease-in-out;
  width: 25px !important;
  height: 25px !important;
}
.spt_body .fadeOut {
  animation: fadeOut 0.2s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    scale: 0;
  }
  90% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
@keyframes fadeOut {
  0% {
    scale: 1;
  }
  10% {
    scale: 1.2;
  }
  100% {
    scale: 0;
  }
}