$fontP: "Pretendard";

.profile {
  height: 100%;
  padding: 50px;
  font-size: 20px;
  font-family: $fontP;
  font-weight: 500;

  .section_01 {
    gap: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 7fr;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;

    img {
      margin: auto;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    section {
      color: #333333;
      font-family: $fontP;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .section_02 {
    padding: 50px;
  }

  .card_list {
    display: flex;
    gap: 15px;
    margin: 30px 0 30px 0;
  }

  .card_title {
    color: #333333;
    font-family: $fontP;
    font-size: 30px;
  }

  .cert_card {
    display: flex;
    color: #333333;
    margin-bottom: 30px;
    justify-content: space-between;

    .cert_title {
      font-size: 30px;
    }

    div {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      padding: 20px;
      text-align: end;
    }
  }

  .ex_card {
    height: 80px;
    padding: 20px;
    color: #333333;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #cccccc;

    .ex_title {
        display: flex;
        padding: 0 5px 10px 5px;
        border-bottom: 1px solid #cccccc;
        justify-content: space-between;

        & span:last-child {
            font-size: 13px;
        }
    }

    p {
        margin-top: 10px;
        font-size: 15px;
        color: #707070;
    }
  }
}

.history {
  display: flex;
  gap: 8px;
  letter-spacing: 0px;
  font-style: normal;
  flex-direction: column;
  border-left: 1px solid #333333;
  margin-top: 35px;

  & span {
    margin-left: 45px;

    a {
      color: rgba(80, 178, 233, 1);
      text-decoration: underline;
    }
  }

  ._circleWhite {
    transform: translateX(-55%);
    background: #333333 !important;
    width: 7px !important;
    height: 7px !important;
    border-radius: 50px;
    position: relative;
    z-index: 4;
  }
}

.capa_card {
  font-size: 15px;
  padding: 8px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid #cccccc;

  img {
    width: 20px;
    height: 20px;
  }
}
